@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  max-width: calc(100%-17px);
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important;
}

.coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; 
  text-align: center;
  flex-direction: column;
  margin-top: 7%;
  background-image: url('./assets/gif/page.gif');
  background-position: center;
  background-size: 65%;
  background-repeat: no-repeat;
}

.coming-soon h1 {
  color: white;
  font-size: 11em;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1;
  font-weight: 800;
}

.coming-soon button {
  color: white;
  border: 1px solid white;
  background-color: #0c0c0c;
  border-radius: 15px;
  padding: 15px 50px;
  font-family: 'Inter', sans-serif;
  margin-top: 5%;
}

.coming-soon button:hover {
  background-color: white;
  color: #0c0c0c;
}

.contact-us .creative-gif {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
}

.contact-us .creative-gif img {
  width: 10vw;
}

.contact-us h1 {
  color: white;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 3.125em;
  text-transform: uppercase;
  margin-top: 2%;
  margin-bottom: 5%;
  font-weight: 800;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

.boxes h6, .boxes a {
  color: white;
}

.boxes h6 {
  font-size: 1.875em;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

.boxes a {
  font-size: 1.125em;
  font-family: 'Inter', sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  border: 1px solid white;
  padding: 100px;
  height: 284px;
}

.box:nth-of-type(1) {
  padding: 105px 140px;
}

.box:nth-of-type(2) {
  padding: 105px 135px;
}

.box:nth-of-type(3) {
  padding: 100px 110px;
}

.box svg {
  margin-bottom: 7%;
}

.contact-us-form h1 {
  margin-top: 7%;
}

.contact-us-form form {
  max-width: 1100px;
  margin: auto;
}

.input-group-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.input-group {
  position: relative;
  margin-bottom: 45px;
}

.input-group input {
  font-size: 18px;
  padding: 10px;
  width: 100%;
  background-color: #0c0c0c;
  border: 1px solid white;
  color: white;
}

.input-group textarea {
  font-size: 18px;
  height: 250px;
  width: 100%;
  background-color: #0c0c0c;
  border: 1px solid white;
  color: white;
  resize: none;
}

.input-group label {
  position: absolute; 
  top: -35px; 
  left: 1px; 
  font-size: 18px; 
  color: white; 
  margin-bottom: 5%;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

.contact-us-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  margin-top: 5%;
  margin-bottom: 10%;
}

.contact-us-buttons input {
  font-family: 'Inter', sans-serif;
  background-color: white;
  color: #0c0c0c;
  padding: 10px 38px;
  font-size: 1.125em;
  border-radius: 10px;
  cursor: pointer;
}

.contact-us-buttons input:hover {
  background-color: #0c0c0c;
  color: white;
}

.contact-us-buttons a {
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 1.125em;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

@media screen and (min-width: 1280px) and (max-width: 1280px) {
  .contact-us .creative-gif img {
    width: 18vw;
  }

  .boxes {
    flex-direction: column;
  }

  .box:nth-of-type(1) {
    padding: 105px 200px;
  }
  
  .box:nth-of-type(2) {
    padding: 105px 200px;
  }
  
  .box:nth-of-type(3) {
    padding: 100px 170px;
  }
}


@media  screen and (max-width: 1024px) {
  .creative-gif {
    margin-top: 20%;
    margin-bottom: 10%;
  }

  .boxes {
    flex-direction: column;
  }

  .box:nth-of-type(1) {
    padding: 105px 200px;
  }
  
  .box:nth-of-type(2) {
    padding: 105px 200px;
  }
  
  .box:nth-of-type(3) {
    padding: 100px 170px;
  }

  .contact-us .creative-gif img {
    width: 25vw;
  }

  .contact-us-form h1 {
    margin: 10% 0;
  }

  .contact-us-form form {
    max-width: 70vw;
  }

  .coming-soon {
    height: 80vh;
  }
}

@media screen and (max-width: 768px) {
  .contact-us .creative-gif {
    margin-top: 15%;
  }

  .contact-us .creative-gif img {
    width: 25vw;
  }

  .contact-us h1 {
    font-size: 2em;
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .boxes {
    flex-direction: column;
    margin: 0 5%;
  }

  .boxes h6 {
    font-size: 1.5em;
  }

  .box:nth-of-type(1) {
    padding: 105px 100px;
  }

  .box:nth-of-type(2) {
    padding: 105px 100px;
  }

  .box:nth-of-type(3) {
    padding: 105px 70px;
  }

  .contact-us-form h1 {
    margin-top: 15%;
    margin-bottom: 20%;
  }

  .contact-us-form form {
    max-width: 85vw;
  }

  .input-group-grid {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .coming-soon h1 {
    font-size: 5em;
  }
}

@media screen and (max-width: 390px) {
  .boxes {
    margin: 0 10%;
  }

  .box:nth-of-type(1) {
    padding: 100px 80px;
  }
  
  .box:nth-of-type(2) {
    padding: 100px 80px;
  }
  
  .box:nth-of-type(3) {
    padding: 100px 60px;
  }

  .box h6 {
    font-size: 1em;
  }

  .box a {
    font-size: 0.8em;
  }
}