@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@font-face {
  font-family: "AtypDisplay";
  src: url("/fonts/Atyp/Atyp/AtypDisplay-Semibold.ttf") format("truetype");
}




@font-face {
  font-family: "AtypMedium";
  src: url("/fonts/Atyp/Atyp/AtypText-Bold.ttf") format("truetype");
}


@font-face {
  font-family: "Grifter";
  src: url("./assets/fonts/grifterbold.otf") format("otf");
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica/Helvetica-Bold.ttf") format("truetype");
}

* {
  max-width: calc(100%-17px);
  margin: 0;
  box-sizing: border-box;
}

